h1 {color: rgba(31, 7, 243, 0.966); font-size: 15px; font-family: 'Times New Roman', Times, serif}
#first {color :brown; font-family: 'Times New Roman', Times, serif; font-size: 20px;}
[id="2"] {color :rgb(84, 10, 223); font-family: 'Times New Roman', Times, serif; font-size: 25px; }